.scoreboard {
	position: fixed;
	height: 100%;
	width: 100%;
	color: white;
	font-family: ForzaBlack;
	text-transform: uppercase;

	.player-screen {
		float: left;
		width: 50%;
		height: inherit;
	}

	.player-screen__banner {
		font-family: ForzaBold;
		text-align: center;
		background-color: #ffe7d2;
		height: 100px;
		width: 100%;

		&--serving {
			background-color: #ff9e54;
		}
	}

	.player-screen__score {
		font-size: 172px;
		color: black;
		text-align: center;
	}

	.player-screen__profile {
		position: absolute;
		bottom: 0;
		width: inherit;
	}

	.player-screen__profile-image {
		width: 100%;
	}

	.player-screen__profile__info {
		padding: 40px 0;
		width: 100%;
		background-color: black;
	}

	.profile__info__real-name {
		font-size: 60px;
		text-align: center;
	}

	.profile__info__nickname {
		font-family: ForzaMedium;
		font-size: 24px;
		text-align: center;
	}

}