<template name="scoreboard">
	<div class="scoreboard">
		<div class="player-screen">
			<div class="player-screen__banner player-screen__banner--serving">
				Serveert
			</div>
			<div class="player-screen__profile-image">

			</div>
			<div class="player-screen__score">
				14
			</div>
			<div class="player-screen__profile">
				<div class="player-screen__profile__image">

				</div>
				<div class="player-screen__profile__info">
					<div class="profile__info__real-name">
						Martijn
					</div>
					<div class="profile__info__nickname">
						"De Cowboy"
					</div>
				</div>
			</div>
		</div>
		<div class="player-screen">
			<div class="player-screen__banner">

			</div>
			<div class="player-screen__score">
				9
			</div>
			<div class="player-screen__profile">
				<div class="player-screen__profile__image">

				</div>
				<div class="player-screen__profile__info">
					<div class="profile__info__real-name">
						Nick
					</div>
					<div class="profile__info__nickname">
						"De Prinses"
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
