@font-face {
	font-family: ForzaBlack;
	src: url("/public/fonts/Forza%20Black.otf") format("opentype");
}

@font-face {
	font-family: ForzaMedium;
	src: url("/public/fonts/Forza%20Medium.otf") format("opentype");
}

@font-face {
	font-family: ForzaBold;
	src: url("/public/fonts/Forza%20Bold.otf") format("opentype");
}